{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <h1>{{ page_title }}</h1>
    </div>
</div>

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <p><strong>For Procedure:</strong> {{ procedure_title }}</p>
    </div>
</div>

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        {% crispy form %}
    </div>
</div>

<script>
function update_unit_field_state() {
    var val=$("#id_field_type").val();
    if (val=="int" || val=="float") {
        $("#id_unit").removeAttr('disabled');
    } else {
        $("#id_unit").attr('disabled',true);
        $("#id_unit").val("");
    }
};
window.onload = update_unit_field_state();
$("#id_field_type").change(function () {
    update_unit_field_state();
});
</script>

{% endblock %}