{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <h1>Viewing/Revising Procedure</h1>
    </div>
</div>


<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <p><strong>Title:</strong> {{ procedure.title }}</p>
        <a type="button" class="btn btn-primary btn-sm" href="{% url 'procedure_writer:edit_procedure_metadata' procedure_id=procedure.id %}">Edit Title</a>
    </div>
</div>

<hr />



{#{% crispy data_field_form %}#}


<hr />

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <h2>Revisions</h2>
    </div>
</div>


{% endblock %}