{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <h1>{{ procedure.title }}</h1>
        <p><a href="{% url 'procedure_writer:procedure_index' %}" role="button">Back to list of Procedures</a></p>
        <a type="button" class="btn btn-primary" href="{% url 'procedure_writer:edit_procedure_metadata' procedure_id=procedure.id %}">Edit Title</a>
    </div>
</div>

<hr />


<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <a type="button" class="btn btn-primary" href="{% url 'procedure_writer:data_field_index' procedure_id=procedure.id %}">View/Edit Data Fields</a>
    </div>
</div>


<hr />

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <h2>Revisions</h2>
    </div>
</div>


{% endblock %}