{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <h1>{{ procedure.title }}</h1>
        <p><a href="{% url 'procedure_writer:procedure_index' %}" role="button">Back to list of Procedures</a></p>
        <a type="button" class="btn btn-warning" href="{% url 'procedure_writer:edit_procedure_metadata' procedure_id=procedure.id %}">Edit Title</a>
    </div>
</div>

<hr />


<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <a type="button" class="btn btn-primary" href="{% url 'procedure_writer:data_field_index' procedure_id=procedure.id %}">View/Edit Data Fields</a>
    </div>
</div>


<hr />

<div class="row g-2 pt-2 mt-0">
    <div class="col">
        <h2>Revisions</h2>
    </div>
</div>

<div class="row g-2 pt-2 mt-0">
  <div class="col grid-striped mx-3">
    <div class="row font-weight-bold">
      <div class="col-6 py-2 border">Revision</div>
      <div class="col-6 py-2 border border-left-0">Actions</div>
    </div>
    {% for revision in procedure.revisions.all %}
    <div class="row">
      <div class="col-6 py-2 d-flex align-items-center border border-top-0">
        {{ revision }}
        {% if not revision.is_published %}
          &nbsp;<span class="badge badge-pill badge-warning">draft</span>
        {% endif %}
      </div>
      <div class="col-6 py-2 d-flex align-items-center border-right border-bottom">
        <div class="my-auto ml-auto">
          <a type="button" class="btn btn-primary btn-sm" href="#">View Traveler Template</a>
          
          {% if revision.is_published %}
            
            {% if revision.can_be_returned_to_draft %}
            <a type="button" class="btn btn-warning btn-sm" href="#">Return to Draft</a>
            {% endif %}

          {% else %}
            <a type="button" class="btn btn-warning btn-sm" href="{% url 'procedure_writer:edit_procedure_revision' procedure_id=procedure.id revision_id=revision.id %}">Edit</a>
            
            {% if revision.can_be_published %}
            <a type="button" class="btn btn-success btn-sm" href="#">Publish</a>
            {% endif %}
            
            {% if revision.can_be_deleted %}
            <a type="button" class="btn btn-danger btn-sm" href="#">Delete</a>
            {% endif %}
          
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="row g-2 pt-2 mt-0">
  <div class="col">
    {% if procedure.can_create_new_revision %}
      <a type="button" class="btn btn-primary btn-block" href="" role="button">New Draft Revision</a>
    {% else %}
      <span class="d-block" tabindex="0" data-toggle="tooltip" title="New draft revision cannot be created.">
      <button class="btn btn-primary btn-block" style="pointer-events: none;" type="button" disabled>New Draft Revision</button>
      </span>
    {% endif %}
  </div>
</div>

<div class="row g-2 pt-2 mt-0">
    <div class="col">
      <h6><em>Notes on procedure revision actions:</em></h6>
      <ul>
        <li>A new draft revision can only be created if no revisions are already in draft mode.</li>
        <li>An existing revision can only be deleted if it is in draft mode, and if it is not the only revision of the procedure.</li>
        <li>A revision can only be put into draft mode if it is the most recent revision and if no travelers have been issued.</li>
      </ul>
    </div>
  </div>

{% include 'enable_tooltips_script.html' %}

{% endblock %}